
  .content {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap as needed */
  }
  
 /*TRY ERROR*/
 div.gallery {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  justify-content: space-evenly;
  width: 30%; /* This ensures the gallery takes up the full width of its container */
  height: 800px;  /*Set a fixed height */
  margin: 30px; /* Add some margin for spacing between galleries */
  padding-bottom: 60px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  /*display:block; */
  width: 100%;
  height: auto;
}

div.desc {
  position: absolute;
  bottom: 0;
  width: 100%; /* Make the description take the full width of the gallery */
  padding: 20px;
  margin:0;
  box-sizing: border-box;
  text-align: center;
  font-size: 25px; /* Adjusted font size */
  color: rgb(255, 255, 255); /* Improved readability */
}

* {
  box-sizing: border-box;
}

.responsive {
  text-align: center;
  padding: 0;
  float: left;
  width: 45%;
  margin:2.5%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


.title {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  /* Add more styling as needed */
}


