<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteM3.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Note Wang</h1>
                    <h2>Belanjawan dan Simpanan/h2>
                    <p>Wang adalah seperti khazanah istimewa di Malaysia juga! Kadang-kadang, kita perlu merancang bagaimana untuk menggunakan kita
                        Ringgit dengan bijak. Anda boleh membuat belanjawan dengan memikirkan perkara yang anda perlukan, seperti bekalan sekolah atau
                        makanan, dan apa yang anda mahukan, seperti permainan baharu. Simpan sebahagian daripada wang anda untuk perkara yang anda inginkan, dan
                        ia seperti mempunyai pelan wang Malaysia anda sendiri! Jadi, apabila anda menerima Ringgit, fikirkan tentang anda
                        keperluan, kehendak anda dan berapa banyak yang anda ingin simpan.</p>
                    <a class="read_more" href="/quizMoney">Uji pemahaman anda</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}