<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <!-- money -->
    <!-- testimonial -->
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titlepage text_align_center">
                        <h2>Masa</h2>
                    </div>
                </div>
                <div class="note">
                            <label for="file">Nota Kemajuan Selesai:</label>
                        </div>
                <progress id="file" value="32" max="100"> 32%</progress>
            </div>
            <!-- start slider section -->
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container-fluid">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-3">
                                                <div class="test_box text_align_center">
                                                    <span><img src="/static/images/test1.png" alt="#"/></span>
                                                    <h4>Memahami membaca masa</h4>
                                                    <p>Terokai asas membaca jam</p>
                                                    <a class="custom-button" href="/noteT1">Tekan sini</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="test_box white_bg text_align_center">
                                                    <span><img src="/static/images/test2.png" alt="#"/></span>
                                                    <h4>Berapa Banyak Masa Telah Berlalu</h4>
                                                    <p>Temui konsep masa berlalu</p>
                                                    <a class="custom-button" href="/noteT2">Tekan sini</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="test_box text_align_center">
                                                    <span><img src="/static/images/test3.png" alt="#"/></span>
                                                    <h4>Jam Digital</h4>
                                                    <p>Selami dunia Jam Digital</p>
                                                    <a class="custom-button" href="/noteT3">Tekan sini</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-fluid">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-3">
                                                <div class="test_box text_align_center">
                                                    <span><img src="/static/images/test2.png" alt="#"/></span>
                                                    <h4>Berapa Banyak Masa Telah Berlalu</h4>
                                                    <p>Discover the concept of elapsed time</p>
                                                    <a class="custom-button" href="/noteT2">Tekan sini</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="test_box white_bg text_align_center">
                                                    <span><img src="/static/images/test3.png" alt="#"/></span>
                                                    <h4>Jam Digital</h4>
                                                    <p>Selami dunia Jam Digital</p>
                                                    <a class="custom-button" href="/noteT3">Tekan sini</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="test_box text_align_center">
                                                    <span><img src="/static/images/test1.png" alt="#"/></span>
                                                    <h4>Memahami membaca masa</h4>
                                                    <p>Terokai asas membaca jam</p>
                                                    <a class="custom-button" href="/noteT1">Tekan sini</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-fluid">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-3">
                                                <div class="test_box text_align_center">
                                                    <span><img src="/static/images/test3.png" alt="#"/></span>
                                                    <h4>Jam Digital</h4>
                                                    <p>Selami dunia Jam Digital</p>
                                                    <a class="custom-button" href="/noteT3">Tekan sini</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="test_box  white_bg text_align_center">
                                                    <span><img src="/static/images/test1.png" alt="#"/></span>
                                                    <h4>Memahami membaca masa</h4>
                                                    <p>Terokai asas membaca jam</p>
                                                    <a class="custom-button" href="/noteT1">Tekan sini</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="test_box text_align_center">
                                                    <span><img src="/static/images/test2.png" alt="#"/></span>
                                                    <h4>Berapa Banyak Masa Telah Berlalu</h4>
                                                    <p>Discover the concept of elapsed time</p>
                                                    <a class="custom-button" href="/noteT2">Tekan sini</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end time -->
    <!-- money -->
    <div class="class">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Masa</h2>
                        <p>Sila pilih nota yang anda hendak pelajari</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margi_bottom">
                    <div class="class_box text_align_center">
                        <i><img src="/static/images/T1.png" alt="#"/></i>
                        <h3>Memahami membaca masa</h3>
                        <p>Terokai asas membaca jam</p>
                    </div>
                    <a class="read_more" href="/noteT1">Tekan sini</a>
                </div>
                <div class="col-md-4 margi_bottom">
                    <div class="class_box blue text_align_center">
                        <i><img src="/static/images/T2.png" alt="#"/></i>
                        <h3>Berapa Banyak Masa Telah Berlalu</h3>
                        <p>Temui konsep masa berlalu</p>
                    </div>
                    <a class="read_more" href="/noteT2">Tekan sini</a>
                </div>
                <div class="col-md-4 margi_bottom">
                    <div class="class_box text_align_center">
                        <i><img src="/static/images/T3.png" alt="#"/></i>
                        <h3>Memahami Jam Digital</h3>
                        <p>Selami dunia Jam Digital</p>
                    </div>
                    <a class="read_more" href="/noteT3">Tekan sini</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-20">
        <div class="test_box text_align_center">
            <span><img src="/static/images/test2.png" alt="#"/></span>
            <h4>Cikgu</h4>
            <img class="img_responsive" src="/static/images/te.png" alt="#"/>
            <p>Let's play game!</p>
            <a class="custom-button" href="/gameTime">GAME</a>
        </div>
    </div>
    <!-- end money -->
{% endblock %}
