<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteM1.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Note Money</h1>
                    <h2>Identifying Coins and Their Values</h2>
                    <p>In Malaysia, we have our own special coins. One coin is called the "sen." There are coins worth 5
                        sen, 10 sen, 20 sen, and 50 sen. The 5 sen coin is the smallest, and the 50 sen coin is the
                        biggest. When we count our coins, we are counting how many sens we have. For example, a 10 sen
                        coin is worth more than a 5 sen coin. So, when you collect these coins, you're actually
                        collecting different amounts of money!</p>
                    <a class="read_more" href="/quizMoney">Test your Understanding</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}