<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteT3.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Nota Masa</h1>
                    <h2>Membaca Masa dengan Jam Digital</h2>
                    <p>Selain jam analog, kami juga menggunakan jam digital. Jam digital menunjukkan masa menggunakan nombor.
                        Dua nombor pertama ialah jam, dan dua nombor terakhir ialah minit. Sebagai contoh, jika anda melihat
                        07:45, bermakna sudah pukul 7:45. Berlatih membaca dan menulis masa pada jam digital, dan bandingkan
                        ia dengan apa yang anda lihat pada jam biasa.</p>
                    <a class="read_more" href="/quizTime">Uji pemahaman anda</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}