<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteT1.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Note Masa</h1>
                    <h2>Memahami Jam dan Menyatakan Masa</h2>
                    <p>Mari mulakan dengan membiasakan diri dengan jam! Jam mempunyai dua tangan - yang pendek ialah
                        jarum jam, dan yang panjang ialah jarum minit. Nombor pada jam memberitahu kami jam, dan
                        minit ditunjukkan oleh kedudukan jarum minit. Contohnya, apabila jarum jam dihidupkan
                        jarum 3 dan minit pada 12, ia adalah pukul 3. Berlatih membaca masa pada berbeza
                        muka jam.</p>
                    <a class="read_more" href="/quizTime">Uji pemahaman anda</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}