<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteT2.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Note Time</h1>
                    <h2>Elapsed Time – How Much Time Has Passed</h2>
                    <p>Elapsed time is all about figuring out how much time has passed between two events. If you start
                        doing your homework at 3:00 PM and finish at 4:30 PM, you can find the elapsed time by looking
                        at the clock. It's like counting the hours and minutes that went by. In this case, it took 1
                        hour and 30 minutes to finish your homework.</p>
                    <a class="read_more" href="/quizTime">Test your Understanding</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}