<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="images/shop.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h2>Note Money<br>Budgeting and Saving</h2>
                    <p>Money is like a special treasure in Malaysia too! Sometimes, we need to plan how to use our
                        Ringgit wisely. You can make a budget by thinking about what you need, like school supplies or
                        food, and what you want, like a new game. Save some of your money for the things you want, and
                        it's like having your own Malaysian money plan! So, when you receive Ringgit, think about your
                        needs, your wants, and how much you want to save.</p>
                    <a class="read_more" href="/quizMoney">Test your skill</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}