<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/money.css">
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">

        
        <div class="row d_flex d_grid">

            <div class="content">
                <div class="responsive">
                  <div class="gallery" style="background-color: silver;">
                    <a href="/static/vid/5sen.mp4">
                      <img src="/static/images/money/5sen.jpg" alt="5 SEN" width="50" height="50">
                    </a>
                    <div class="title">5 SEN</div>
                    <div class="desc">Saiz: 17.78mm<br>
                      Bentuk: Bulat<br>
                      Warna: Perak<br>
                      Sisi: Kosong<br>
                      Ciri Uniks: Kain Desta Siga dan angka 5.</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: silver;">
                    <a href="/static/vid/10sen.mp4">
                      <img src="/static/images/money/10sen.jpg" alt="10 SEN" width="200" height="200">
                    </a>
                    <div class="title">10 SEN</div>
                    <div class="desc">Size: 18.8mm<br>
                      Bentuk: Bulat<br>
                      Warna: Perak<br>
                      Sisi: Halus<br>
                      Ciri Unik: Corak anyaman Mah Meri dan angka 10.</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: gold;">
                    <a href="/static/vid/20sen.mp4">
                      <img src="/static/images/money/20sen.jpg" alt="20 SEN" width="200" height="200">
                    </a>
                    <div class="title">20 SEN</div>
                    <div class="desc">Saiz: 20.6mm<br>
                      Bentuk: Bulat<br>
                      Warna: Emas<br>
                      Sisi: Kasar<br>
                      Ciri Unik: Bunga Melur dan angka 20.</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: gold;">
                    <a href="/static/vid/50sen.mp4">
                      <img src="/static/images/money/50sen.jpg" alt="50 SEN" width="200" height="200">
                    </a>
                    <div class="title">50 SEN</div>
                    <div class="desc">Saiz: 22.65mm<br>
                      Bentuk: Bulat<br>
                      Warna: Emas<br>
                      Sisi: Kosong<br>
                      Ciri Unik: Salur Kacang dan angka 50.</div>
                  </div>
                </div>
            
            <div class="col-md-7">

                

                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteM1.png" alt="#"/></figure>
                </div>

            </div>

            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Nota Wang</h1>
                    <h2>Mengenalpasti Syiling dan Nilainya</h2>
                    <p>Di Malaysia, kami mempunyai syiling istimewa kami sendiri. Satu syiling dipanggil "sen." Terdapat syiling bernilai 5
                        sen, 10 sen, 20 sen, dan 50 sen. Syiling 5 sen adalah yang terkecil, dan syiling 50 sen ialah
                        terbesar. Apabila kita mengira syiling kita, kita mengira berapa sen yang kita ada. Sebagai contoh, 10 sen
                        syiling bernilai lebih daripada syiling 5 sen. Jadi, apabila anda mengumpul syiling ini, anda sebenarnya
                        mengumpul jumlah wang yang berbeza!</p>
                    <a class="read_more" href="/quizMoney">Uji pemahaman anda</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}
