<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/money2.css">
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="content">
          
                <div class="responsive">
                  <div class="gallery" style="background-color: blue;">
                    <a href="/static/vid/rm1.mp4">
                      <img src="/static/images/money/rm1.jpeg" alt="RM 1" width="200" height="200">
                    </a>
                    <div class="title">RM 1</div>
                    <div class="desc">Saiz: 120 × 65 mm<br>
                      Substrat: Polimer<br>
                      Warna: Biru<br>
                      Ciri Unik: Wau Bulan</div>
                  </div>
                </div>
          
          
                <div class="responsive">
                  <div class="gallery" style="background-color: green;">
                    <a href="/static/vid/rm5.mp4">
                      <img src="/static/images/money/rm5.jpeg" alt="RM 5" width="200" height="200">
                    </a>
                    <div class="title">RM 5</div>
                    <div class="desc">Saiz: 135 × 65 mm<br>
                      Substrat: Polimer<br>
                      Warna: Hijau<br>
                      Ciri Unik: Burung kenyalang</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: red;">
                    <a href="/static/vid/rm10.mp4">
                      <img src="/static/images/money/rm10.jpeg" alt="RM 10" width="200" height="200">
                    </a>
                    <div class="title">RM 10</div>
                    <div class="desc">Saiz: 140 × 65 mm<br>
                      Substrat: Kertas<br>
                      Warna: Merah<br>
                      Ciri Unik: Rafflesia</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: orange;">
                    <a href="/static/vid/rm20.mp4">
                      <img src="/static/images/money/rm20.jpeg" alt="RM 20" width="200" height="200">
                    </a>
                    <div class="title">RM 20</div>
                    <div class="desc">Saiz: 145 × 65 mm<br>
                      Substrat: Kertas<br>
                      Warna: Jingga<br>
                      Ciri Unik: Penyu sisik dan penyu belimbing</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: teal;">
                    <a href="/static/vid/rm50.mp4">
                      <img src="/static/images/money/rm50.jpeg" alt="RM 50" width="200" height="200">
                    </a>
                    <div class="title">RM 50</div>
                    <div class="desc">Saiz: 145 × 69 mm<br>
                      Substrat: Kertas<br>
                      Warna: Biru hijau<br>
                      Ciri Unik: Perdana Menteri pertama Malaysia, Tunku Abdul Rahman Putra Al-Haj, pokok kelapa sawit</div>
                  </div>
                </div>
          
                <div class="responsive">
                  <div class="gallery" style="background-color: purple;">
                    <a href="/static/vid/rm100.mp4">
                      <img src="/static/images/money/rm100.jpeg" alt="RM 100" width="200" height="200">
                    </a>
                    <div class="title">RM 100</div>
                    <div class="desc">Saiz: 150 × 69 mm<br>
                      Substrat: Kertas<br>
                      Warna: Ungu<br>
                      Ciri Unik: Gunung Kinabalu dan formasi batu lembah Gunung Api</div>
                  </div>
                </div>
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteM2.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Nota Wang</h1>
                    <h2>Mengira dan Membuat Perubahan</h2>
                    <p> Bayangkan anda ingin membeli makanan ringan di gerai mamak. Makanan ringan berharga RM2.50, dan anda berikan
                        juruwang wang kertas RM5. Untuk mengetahui berapa banyak perubahan yang anda dapat kembali, anda tolak kos daripada apa
                        awak beri. RM5 (apa yang anda berikan) - RM2.50 (kos) = RM2.50 tukar. Jadi, anda dapat RM2.50 semula! Dalam
                        Malaysia, kami menggunakan kedua-dua Ringgit (nota) dan sen (syiling) untuk wang kami.</p>
                    <a class="read_more" href="/quizMoney">Uji pemahaman anda</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}
