<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- money -->
<!-- testimonial -->
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlepage text_align_center">
                    <h2>Money</h2>
                </div>
            </div>
            <div class="note">
                <label for="file">Note Completed Progress:</label>
            </div>
            <progress id="file" value="32" max="100"> 32%</progress>
        </div>
        <!-- start slider section -->
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="/static/images/test1.png" alt="#"/></span>
                                                <h4>Identify Coins</h4>
                                                <p>Understand about coins</p>
                                                <a class="custom-button" href="/noteM1">Click here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box white_bg text_align_center">
                                                <span><img src="/static/images/test2.png" alt="#"/></span>
                                                <h4>Counting Money</h4>
                                                <p>Understand how to calculate change</p>
                                                <a class="custom-button" href="/noteM2">Click here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="/static/images/test3.png" alt="#"/></span>
                                                <h4>Saving Money</h4>
                                                <p>Understand the concept of saving money</p>
                                                <a class="custom-button" href="/noteM3">Click here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="/static/images/test2.png" alt="#"/></span>
                                                <h4>Counting Money</h4>
                                                <p>Understand how to calculate change</p>
                                                <a class="custom-button" href="/noteM2">Click here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box white_bg text_align_center">
                                                <span><img src="/static/images/test3.png" alt="#"/></span>
                                                <h4>Saving Money</h4>
                                                <p>Understand the concept of saving money</p>
                                                <a class="custom-button" href="/noteM3">Click here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="/static/images/test1.png" alt="#"/></span>
                                                <h4>Identify Coins</h4>
                                                <p>Understand about coins</p>
                                                <a class="custom-button" href="/noteM1">Click here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="/static/images/test3.png" alt="#"/></span>
                                                <h4>Saving Money</h4>
                                                <p>Understand the concept of saving money</p>
                                                <a class="custom-button" href="/noteM3">Click here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box  white_bg text_align_center">
                                                <span><img src="/static/images/test1.png" alt="#"/></span>
                                                <h4>Identify Coins</h4>
                                                <p>Understand about coins</p>
                                                <a class="custom-button" href="/noteM1">Click here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="/static/images/test2.png" alt="#"/></span>
                                                <h4>Counting Money</h4>
                                                <p>Understand how to calculate change</p>
                                                <a class="custom-button" href="/noteM2">Click here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end time -->
<!-- money -->
<div class="class">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Time</h2>
                    <p>Please choose what you want to study</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 margi_bottom">
                <div class="class_box text_align_center">
                    <i><img src="/static/images/class1.png" alt="#"/></i>
                    <h3>Money</h3>
                    <p>We will learn how to calculate money.</p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
            <div class="col-md-4 margi_bottom">
                <div class="class_box blue text_align_center">
                    <i><img src="/static/images/class2.png" alt="#"/></i>
                    <h3>Time</h3>
                    <p>We will learn how to manage time.</p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
            <div class="col-md-4 margi_bottom">
                <div class="class_box text_align_center">
                    <i><img src="/static/images/class3.png" alt="#"/></i>
                    <h3>Quiz</h3>
                    <p>This is where you test what you study before.</p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-20">
    <div class="test_box text_align_center">
        <span><img src="/static/images/test2.png" alt="#"/></span>
        <h4>Cikgu</h4>
        <img class="img_responsive" src="/static/images/te.png" alt="#"/>
        <p>Lets play a game</p>
        <a class="custom-button" href="/gameMoney">GAME</a>
    </div>
</div>
<!-- end money -->
{% endblock %}
