<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteM2.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Note Money</h1>
                    <h2>Counting and Making Change</h2>
                    <p> Imagine you want to buy some snacks at a mamak stall. The snacks cost RM2.50, and you give the
                        cashier a RM5 note. To find out how much change you get back, you subtract the cost from what
                        you gave. RM5 (what you gave) - RM2.50 (cost) = RM2.50 change. So, you get RM2.50 back! In
                        Malaysia, we use both Ringgit (notes) and sen (coins) for our money.</p>
                    <a class="read_more" href="/quizMoney">Test your Understanding</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}