<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="/static/images/Mine/noteT1.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h1>Note Time</h1>
                    <h2>Understanding the Clock and Telling Time</h2>
                    <p>Let's start by getting familiar with the clock! The clock has two hands – the short one is the
                        hour hand, and the long one is the minute hand. The numbers on the clock tell us the hours, and
                        the minutes are shown by the position of the minute hand. For example, when the hour hand is on
                        the 3 and the minute hand is on the 12, it's 3 o'clock. Practice reading the time on different
                        clock faces.</p>
                    <a class="read_more" href="/quizTime">Test your Understanding</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
{% endblock %}