<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/money.css">
  <title>Penggunaan Wang</title>
</head>
<body>
  <header>
    <h1>Penggunaan Wang</h1>
  </header>

  <section>
    <h1>Pengenalan</h1>
    <p>Penggunaan wang melibatkan transaksi harian dengan duit syiling dan duit kertas, mewujudkan kemahiran kewangan dan kesedaran terhadap nilai matawang</p>
  </section>

  <section>
    <div class="content">
      <div>
        <h3>Duit Syiling</h3>
        <p>bentuk mata wang fizikal yang kecil dan biasanya diperbuat daripada logam.</p>
      </div>
      <section class="grid-containercoin">
        <div class="box">
            <h2>50 SEN</h2>
              <img src="static/img/50sen.png" alt="Image 1">
          </div>
        
        <div class="box">
          <img src="static/img/20sen.png" alt="Image 2">
          <h2>20 SEN</h2>
        </div>
        <div class="box">
          <img src="static/img/10sen.png" alt="Image 3">
          <h2>10 SEN</h2>
        </div>
        <div class="box">
          <img src="static/img/5sen.png" alt="Image 4">
          <h2>5 SEN</h2>
        </div>
      </section>
    </section>

    <section>
        <div class="content">
          <div>
            <h3>Duit Kertas</h3>
            <p>bentuk lembaran kertas sebagai alat tukar sah yang memudahkan perniagaan dan transaksi.</p>
          </div>
          <section class="grid-containermoney">
            <div class="box" style="background-color: #415ac8;">
              <img src="static/img/rm1.jpeg" alt="Image 1">
              <h2>RM 1</h2>
            </div>
           
            <div class="box" style="background-color: #45d85b;">
              <img src="static/img/rm5.jpeg" alt="Image 2">
              <h2>RM 5</h2>
            </div>
            <div class="box" style="background-color: #d14848;">
              <img src="static/img/rm10.jpeg" alt="Image 3">
              <h2>RM 10</h2>
            </div>
            <div class="box" style="background-color: #f5bb00;">
              <img src="static/img/rm20.jpeg" alt="Image 4">
              <h2>RM 20</h2>
            </div>
            <div class="box" style="background-color: #38aab0;">
              <img src="static/img/rm50.jpeg" alt="Image 5">
              <h2>RM 50</h2>
            </div>
            <div class="box" style="background-color: #9a53ca;">
              <img src="static/img/rm100.jpeg" alt="Image 6">
              <h2>RM 100</h2>
            </div>
          </section>
          

        </section>



