<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../static/css/moneyGame.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <title>CASH MONEY</title>
</head>

<body>
  <div class="row">
    <div class="one-half column" id="left">
      <progress id="timer-bar" value="0" max="100"></progress>
      <canvas></canvas>
    </div>
    <div class="one-half column" id="right">
      <h4 id="banner">Berlumba untuk mendapatkan lebih banyak wang daripada pemain lain! </h4>
      <div class="row">
        <div class="five columns">
          PEMAIN PERTAMA
          <img src="../static/images/moneyGame/p1down.png">
          <img id="keys" src="../static/images/moneyGame/wasd.png">
        </div>
        <div class="five columns">
          PEMAIN KEDUA
          <img src="../static/images/moneyGame/p2down.png">
          <img id="keys" src="../static/images/moneyGame/arrows.png">
        </div>
      </div>
      <div id="legend" class="eleven columns">
        <p><img src="../static/images/moneyGame/angpow.png"> Mendapat RM5, tetapi akan melambatkan anda.</p>
        <p><img src="../static/images/moneyGame/orange.png"> Mempercepatkan anda! Tetapi tiada wang sekalipun!</p>
        <p><img src="../static/images/moneyGame/firecracker.png"> Kembali ke titik permulaan anda, dan anda kehilangan RM3!</p>
        <br><button type="button" name="button">SET SEMULA</button>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="../static/js/moneyGame.js"></script>
</body>

</html>
