<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <!-- end header inner -->
    <!-- our class -->
    <div class="class">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Quiz</h2>
                        <p>Test your knowledge</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margi_bottom">
                    <div class="class_box text_align_center">
                        <i><img src="/static/images/class1.png" alt="#"/></i>
                        <h3>Money</h3>
                        <div class="quiz">
                            <label for="file">Note Completed Progress:</label>
                        </div>
                        <progress id="file" value="32" max="100"> 32%</progress>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alterationThere are many variations </p>
                        <button class="custom-button">Button Text</button>
                    </div>
                </div>
                <div class="col-md-4 margi_bottom">
                    <div class="class_box blue text_align_center">
                        <i><img src="/static/images/class2.png" alt="#"/></i>
                        <h3>Time</h3>
                        <div class="quiz">
                            <label for="file">Note Completed Progress:</label>
                        </div>
                        <progress id="file" value="32" max="100"> 32%</progress>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alterationThere are many variations </p>
                        <button class="custom2-button">Button Text</button>
                    </div>
                </div>
                <div class="col-md-4 margi_bottom">
                    <div class="class_box text_align_center">
                        <i><img src="/static/images/class3.png" alt="#"/></i>
                        <h3>Overall</h3>
                        <div class="quiz">
                            <label for="file">Note Completed Progress:</label>
                        </div>
                        <progress id="file" value="32" max="100"> 32%</progress>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alterationThere are many variations </p>
                        <button class="custom-button">Button Text</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end our class -->
{% endblock %}